$font-family-sans-serif:   "Open Sans", Helvetica, Arial, sans-serif;
$icon-font-path:           "../vendor/bootstrap-sass/assets/fonts/bootstrap/";

$link-color:               #1A619E;

$cor-menu-item:            #fff7ea;

$cor-verde:                #0d6d38;
$cor-verde-claro:          #dae2da;
$cor-verde-escuro:         #0e552c;
$cor-vermelho:             #c6202d;
$cor-azul-escuro:          #3c567b;
$cor-azul:                 #5074ad;
$cor-vinho:                #6a0b19;
$cor-laranja:              #DC3C21;

$cor-rs:                   #71C59B;
$cor-regiao-litoral:       #E80F6D;
$cor-regiao-sul:           #007769;
$cor-regiao-metropolitana: #E8DA36;
$cor-regiao-norte:         #7E1648;
$cor-regiao-serra:         #642C8D;
$cor-regiao-vale-cai:      #547F3A;
$cor-regiao-encosta-serra: #E97C24;

$cor-azul-resultados:      #1A3D75;
$cor-formasingresso:       #05827e;
$cor-campi:                #1d6f0f;
$cor-modalidades:          #7f1b66;
