@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'vars';
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../vendor/bootstrapaccessibilityplugin/src/sass/bootstrap-accessibility';
@import 'fonts';
@import 'barra-brasil-fix';

body {
    background: url('../img/fundo.jpg') repeat;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


// Cabeçalho

header {
    background: url('../img/topo-fundo.png') left center no-repeat;
    background-color: $cor-verde;
    background-size: auto 332px;
    margin-bottom: $grid-gutter-width / 2;

    .container {
        height: 332px;
        max-height: 332px;
        min-height: 200px;

        img {
            margin-top: 20px;
        }
    }

    h1 {
        color: #fff;
    }
}


// Menu

#inicio-menu,
#fim-menu {
    color: #fff;
}

#menu {
    background-color: $cor-vermelho;
    margin-bottom: $grid-gutter-width / 2;

    .navbar {
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.navbar-custom {
    .navbar-nav {
        >li {
            background-color: $cor-menu-item;
            color: #333;
            font-size: 1.2em;
            margin-bottom: 10px;
            margin-right: 8px;
            text-transform: uppercase;

            >a {
                color: #333;
            }
        }

        .active {
            background: $cor-menu-item;
            color: #000;

            >a {
                color: #000;
                font-weight: bold;
            }
        }
    }
    .navbar-toggle {
      border-color: $cor-menu-item;
      &:hover,
      &:focus {
        background-color: $cor-menu-item;
      }
      .icon-bar {
        background-color: #ccc;
      }
    }
}


// Breadcrumb

.breadcrumb {
    background-color: #fff;
}


// Conteúdo

#home-content {
    .row {
        margin-bottom: $grid-gutter-width / 2;
    }
    // .ms-item {
    //     margin-bottom: $grid-gutter-width;
    // }
}


// Banners

#home-banners {
    overflow: hidden;

    div {
        max-height: 250px;
        @media (max-width: $screen-md-min) {
            margin-bottom: 15px;
        }
    }
}

.carousel-inner {
    // background-color: #fff;
}


// Widgets

.widget {
    &.banner {
        img {
            @extend .img-responsive;
            @extend .center-block;
        }
    }
}

.widget_mapa_widget {
    padding: 0 ($grid-gutter-width / 2);

    h2 {
        background-color: $cor-verde-escuro;
        color: #fff;
        font-weight: bold;
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        margin-top: 0;
        padding: 10px;
    }
}

#mapa-ps {
    height: 300px;
    width: 320px;

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        width: 280px;
    }

    div.amcharts-chart-div {
        a {
            visibility: hidden;
        }
    }
}

#mapa-seta {
    color: $cor-verde-escuro;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.panel-mapa-ps {
    .panel-heading {
        padding: 0;

        .panel-title {
            font-size: 12px;

            a {
                display: block;
                padding: 5px 7px;
                text-decoration: none;

                &:hover,
                &:active,
                &.active
                &:focus,
                &.focus {
                    text-decoration: none;
                }
            }

            .glyphicon {
                font-size: 20px;
                min-height:  12px;
                line-height: 12px;

                @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
                    font-size: 14px;
                }
            }
        }
    }

    #heading-LITORAL {
        .glyphicon {
            color: $cor-regiao-litoral;
        }
    }

    #heading-SUL {
        .glyphicon {
            color: $cor-regiao-sul;
        }
    }

    #heading-METROPOLITANA {
        .glyphicon {
            color: $cor-regiao-metropolitana;
        }
    }

    #heading-NORTE {
        .glyphicon {
            color: $cor-regiao-norte;
        }
    }

    #heading-SERRA {
        .glyphicon {
            color: $cor-regiao-serra;
        }
    }

    #heading-VALE-CAI {
        .glyphicon {
            color: $cor-regiao-vale-cai;
        }
    }

    #heading-ENCOSTA-SERRA {
        .glyphicon {
            color: $cor-regiao-encosta-serra;
        }
    }

    .panel-body {
        padding: 7px;

        .btn-xs {
            font-size: 10px;
        }
    }
}

.widget_pages {
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;

    h2 {
        background-color: $cor-azul-escuro;
        color: #fff;
        font-weight: bold;
        margin-bottom: 0;
        margin-bottom: $grid-gutter-width;
        margin-left: -($grid-gutter-width);
        margin-right: -($grid-gutter-width);
        margin-top: 0;
        padding: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        height: 100%;

        @media (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
        }

        li {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;

            a {
                @extend .btn;
                @include button-variant(#fff, $cor-azul, $cor-azul-escuro);
                @extend .btn-lg;
                border-radius: 0;
                box-shadow: 5px 5px 1px $cor-azul-escuro;
                padding: 30px;
                text-transform: uppercase;
            }
        }
    }
}

.widget-home {
    background-color: $cor-verde-claro;
    margin-bottom: $grid-gutter-width;
}

.widget_resultados_widget {
    h2 {
        background-color: $cor-azul-resultados;
        color: #fff;
        font-size: 38px;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

#resultados {
    padding: ($grid-gutter-width / 2) $grid-gutter-width;

    .breadcrumb {
        > li {
            > a {
                font-weight: bold;

                &.breadcrumb-formaingresso {
                    color: $cor-formasingresso;
                }

                &.breadcrumb-campus {
                    color: $cor-campi;
                }

                &.breadcrumb-modalidade {
                    color: $cor-modalidades;
                }
            }
        }
    }

    .btn {
        margin-bottom: 10px;
    }
}

.btn-formaingresso {
    @include button-variant(#fff, $cor-formasingresso, darken($cor-formasingresso, 7%));
    border-radius: 0;
}

.btn-campus {
    @include button-variant(#fff, $cor-campi, darken($cor-campi, 7%));
    border-radius: 0;
}

.btn-modalidade {
    @include button-variant(#fff, $cor-modalidades, darken($cor-modalidades, 7%));
    border-radius: 0;
}

.label-formaingresso {
    @include label-variant($cor-formasingresso);
}

.label-campus {
    @include label-variant($cor-campi);
}

.label-modalidade {
    @include label-variant($cor-modalidades);
}


// Avisos

@media (min-width: $screen-md-min) {
    #home-avisos {
        .ms-item {
            &:nth-of-type(even) {
                .home-aviso {
                    background: #fff url('../img/aviso-acabamento-even.png') no-repeat left center;
                    background-size: contain;
                    padding-left: 25px;
                }
            }
            &:nth-of-type(odd) {
                .home-aviso {
                    background: #fff url('../img/aviso-acabamento-odd.png') no-repeat right center;
                    background-size: contain;
                    padding-right: 25px;
                }
            }
        }
    }
}

#home-avisos {
    height: 100%;
}

.home-aviso {
    background-color: #fff;
    margin-bottom: $grid-gutter-width;
    padding: 0 10px 10px 10px;

    .aviso-data {
        background-color: $cor-vermelho;
        color: #fff;
        cursor: default;
        font-size: 1.2em;
        padding: 20px 5px;
        text-align: center;
        text-transform: capitalize;

        .dia {
            display: block;
            margin-bottom: 5px;
        }
    }

    .aviso-titulo {
        >h2 {
            color: $cor-vinho;
            margin-top: $grid-gutter-width / 2;
            margin-bottom: $grid-gutter-width / 2;
            font-size: 28px;
            font-weight: bold;
            >a {
                color: $cor-vinho;
            }
        }
    }

    .aviso-content {
        font-size: 0.95em;
    }

    .aviso-categorias-title {
        font-size: 0.85em;
        font-weight: bold;
    }

    .aviso-categorias {
        display: inline-block;
        list-style: none;
        padding: 5px;
        font-size: 12px;
        margin: 0;
        >li {
            display: inline;
            margin-bottom: 8px;
            &:after {
                content: " | ";
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
            a {
                color: #666;
            }
        }
    }

    .btn-leia-mais {
        @include button-variant(#fff, $cor-laranja, darken($cor-laranja, 10%));
        border-radius: 0;
    }
}


// Conteúdo

.content {
    background: #f5f5f5;
    padding: $grid-gutter-width / 2;

    .post-title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .post-thumb {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .post-content {
        margin-top: $grid-gutter-width / 2;

        img {
            @extend .img-responsive;
        }

        table {
            @extend .table;
        }

        .alignleft {
            @extend .pull-left;
        }

        .alignright {
            @extend .pull-right;
        }

        .wp-caption-text {
            font-size: 0.8em;
        }
    }

    .post-meta {
        margin-top: 10px;
    }

    .post-date {
        font-size: 12px;
        font-style: italic;
    }

    .post-categories {
        font-size: 0.9em;
        list-style: none;
        text-align: right;

        li {
            display: inline;
            margin-left: 4px;
            margin-bottom: 4px;
        }
    }
}

.title {
    margin-top: 0;
}

.cat-title {
    background: #fafafa;
    padding: 8px;
}


// Editais

.list-group {
    .active {
        small,
        .small {
            color: #fff;
        }
    }
}


// Cursos

#legenda-regioes {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    list-style: none;
    padding: 3px 5px;

    > li {
        display: inline-block;
        margin-right: 2px;
    }

    > span {
        font-weight: bold;
    }

    .item-LITORAL {
        .glyphicon {
            color: $cor-regiao-litoral;
        }
    }

    .item-SUL {
        .glyphicon {
            color: $cor-regiao-sul;
        }
    }

    .item-METROPOLITANA {
        .glyphicon {
            color: $cor-regiao-metropolitana;
        }
    }

    .item-NORTE {
        .glyphicon {
            color: $cor-regiao-norte;
        }
    }

    .item-SERRA {
        .glyphicon {
            color: $cor-regiao-serra;
        }
    }

    .item-VALE-CAI {
        .glyphicon {
            color: $cor-regiao-vale-cai;
        }
    }

    .item-ENCOSTA-SERRA {
        .glyphicon {
            color: $cor-regiao-encosta-serra;
        }
    }
}

.list-campi {
    list-style: none;
    padding: 0;

    > li {
        display: inline-block;
        margin-bottom: 5px;

        &:focus,
        &:active,
        &.active {
            > a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    .btn {
        border-radius: 0;
    }

    .btn-todos {
        @include button-variant(#000, $cor-rs, darken($cor-rs, 10%));
    }

    .btn-osorio {
        @include button-variant(#fff, $cor-regiao-litoral, darken($cor-regiao-litoral, 10%));
    }

    .btn-rio-grande {
        @include button-variant(#fff, $cor-regiao-sul, darken($cor-regiao-sul, 10%));
    }

    .btn-alvorada,
    .btn-porto-alegre,
    .btn-restinga,
    .btn-viamao {
        @include button-variant(#000, $cor-regiao-metropolitana, darken($cor-regiao-metropolitana, 10%));
    }

    .btn-erechim {
        @include button-variant(#fff, $cor-regiao-norte, darken($cor-regiao-norte, 10%));
    }

    .btn-bento-goncalves,
    .btn-caxias-do-sul {
        @include button-variant(#fff, $cor-regiao-serra, darken($cor-regiao-serra, 10%));
    }

    .btn-feliz {
        @include button-variant(#fff, $cor-regiao-vale-cai, darken($cor-regiao-vale-cai, 10%));
    }

    .btn-rolante {
        @include button-variant(#fff, $cor-regiao-encosta-serra, darken($cor-regiao-encosta-serra, 10%));
    }
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    .dataTables_info {
        font-size: 0.9em;
    }
}

.modalidades-title {
    margin-bottom: 10px;
    margin-top: 20px;

    h2 {
        display: inline-block;
        margin: 0;
    }

    .dropdown {
        display: inline-block;
    }
}

// Resultados

@media (min-width: $screen-md-min) {
    .resultado-labels {
        float: right;
    }
}


// Rodapé

#footer-decoration {
    background: url('../img/rodape.png') no-repeat center center;
    background-color: $cor-verde;
    height: 51px;
}

#site-map {
    background-color: $cor-verde;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 32px;

    a {
        color: #fff;
    }
}

#footer-menu {
    list-style: none;
    padding: 0;

    >.menu-item {
        display: block;
        float: left;
        margin-right: 64px;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 1.2em;
    }

    .sub-menu {
        list-style: none;
        padding: 0 0 0 8px;
        margin-top: 8px;
        margin-bottom: 8px;

        >.menu-item {
            font-size: 0.9em;
            text-transform: none;
        }
    }
}

#footer-separator {
    background-color: $cor-verde-escuro;
    border: none;
    height: 20px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: $cor-verde;
    color: #fff;
    font-weight: bold;
    padding-top: $grid-gutter-width;
    padding-bottom: 15px;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .search-form {
        margin-bottom: 10px;
    }

    .social-link {
        margin-right: 5px;
    }

    #footer-logo {
        >img {
            margin-bottom: 8px;
        }
    }

    #footer-address {
        text-align: center;
        p {
            margin-bottom: 3px;
        }
    }
}

#footer-bottom {
    background-color: #fff;
    p {
        padding-top: 10px;
        text-align: center;
        font-size: 0.9em;

        a {
            color: #000;
        }
    }
}
